* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: Gainsboro;
  overflow-x: hidden;
  min-width: 1024px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  position: absolute;
  width: 100%;
  height: 170px;
  -webkit-animation: startAnimHeader 1.5s normal both;
  animation: startAnimHeader 1.5s normal both;
}
.header__lineBeforeLogo {
  position: absolute;
  background-color: darkblue;
  width: 200px;
  height: 30px;
  top: 30px;
  left: 0;
}
.header__lineAfterLogo {
  position: absolute;
  background-color: darkblue;
  width: calc(100% - 190px - 325px - 5px);
  height: 30px;
  top: 70px;
  left: 520px;
}
.header__logo {
  position: absolute;
  left: 190px;
  top: -40px;
}
.header__logo__svg {
  color: darkblue;
}
.header__button {
  position: absolute;
  background-color: Gainsboro;
  border: 5px solid darkblue;
  box-shadow: 0px 0px 0px 5px Gainsboro;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 10px;
  color: darkBlue;
  transition: 0.5s;
}
.header__button--menu {
  left: 40px;
  top: 20px;
}
.header__button--admin {
  left: 105px;
  top: 20px;
}
.header__button:hover {
  background-color: white;
  border-color: MediumBlue;
  color: mediumblue;
}
.header__button span.material-symbols-outlined {
  font-size: 40px;
  line-height: 40px;
}
@-webkit-keyframes startAnimHeader {
  0% {
    top: -170px;
    left: 0;
    opacity: 0;
  }
  20% {
    top: -170px;
    left: 0;
    opacity: 0;
  }
  100% {
    top: 0px;
    left: 0;
    opacity: 1;
  }
}
@keyframes startAnimHeader {
  0% {
    top: -170px;
    left: 0;
    opacity: 0;
  }
  20% {
    top: -170px;
    left: 0;
    opacity: 0;
  }
  100% {
    top: 0px;
    left: 0;
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .header__lineBeforeLogo {
    display: none;
  }
  .header__lineAfterLogo {
    display: none;
  }
  .header__logo {
    left: 60px;
    top: -40px;
  }
  .header__button--menu {
    left: 15px;
    top: 15px;
  }
  .header__button--admin {
    left: 15px;
    top: 75px;
  }
  .header__button:hover {
    background-color: white;
    border-color: MediumBlue;
    color: mediumblue;
  }
  .header__button span.material-symbols-outlined {
    font-size: 40px;
    line-height: 40px;
  }
}
.main {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 170px;
  bottom: 0;
  left: 0;
  right: 0;
}
.main__sentencje {
  flex-basis: 50vw;
  overflow: hidden;
}
.main__sentencje__lines {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  font-weight: 800;
  color: RoyalBlue;
  text-align: right;
}
.main__sentencje__lines--line1 {
  top: 40px;
  right: 50px;
  animation: startAnimLines 2.5s 0.25s reverse both;
}
.main__sentencje__lines--line2 {
  top: 40px;
  right: 50px;
  animation: startAnimLines 2.5s 0.75s reverse both;
}
.main__sentencje__lines--line3 {
  top: 40px;
  right: 50px;
  animation: startAnimLines 2.5s 1.25s reverse both;
}
.main__sentencje__lines--line4 {
  top: 80px;
  right: 50px;
  animation: startAnimLines 2.5s 1.75s reverse both;
}
.main__sentencje__lines--line5 {
  top: 80px;
  right: 50px;
  animation: startAnimLines 2.5s 2s reverse both;
}
.main__foto {
  flex-basis: 50vw;
  overflow: hidden;
}
.main__foto__img {
  position: relative;
  max-height: 120%;
  top: -20px;
  left: 0;
  -webkit-animation: startAnimFoto 3s 0.5s normal both;
  animation: startAnimFoto 3s 0.5s normal both;
}
@-webkit-keyframes startAnimFoto {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes startAnimFoto {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes startAnimLines {
  100% {
    right: -1000px;
  }
}
@keyframes startAnimLines {
  100% {
    right: -1000px;
  }
}

@media (max-width: 1200px) {
  .main__sentencje__lines {
    font-size: 60px;
    font-weight: 800;
  }
}
@media (max-width: 1100px) {
  .main__sentencje__lines {
    font-size: 50px;
    font-weight: 800;
  }
  .main__sentencje__lines--line1, .main__sentencje__lines--line2, .main__sentencje__lines--line3 {
    top: 50px;
  }
  .main__sentencje__lines--line4, .main__sentencje__lines--line5 {
    top: 100px;
  }
}
@media (max-width: 1000px) {
  .main__sentencje__lines {
    font-size: 45px;
    font-weight: 800;
  }
  .main__sentencje__lines--line1, .main__sentencje__lines--line2, .main__sentencje__lines--line3 {
    top: 70px;
    right: 30px;
  }
  .main__sentencje__lines--line4, .main__sentencje__lines--line5 {
    top: 120px;
    right: 30px;
  }
}
@media (max-width: 800px) {
  .main {
    display: block;
    position: absolute;
    top: 170px;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .main__sentencje {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    z-index: 2;
  }
  .main__sentencje__lines {
    font-size: 60px;
    font-weight: 800;
    z-index: 2;
    right: 20px;
  }
  .main__foto {
    position: absolute;
    overflow-x: hidden;
    top: 0px;
    z-index: 0;
  }
  .main__foto__img {
    max-width: 100%;
    opacity: 0.4;
  }
  @-webkit-keyframes startAnimFoto {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.4;
    }
  }
  @keyframes startAnimFoto {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.4;
    }
  }
}
@media (max-width: 600px) {
  .main__sentencje__lines {
    font-size: 50px;
  }
}
@media (max-width: 500px) {
  .main__sentencje__lines {
    font-size: 45px;
  }
}
@media (max-width: 360px) {
  .main__sentencje__lines {
    font-size: 45px;
    font-weight: 800;
  }
  .main__sentencje__lines--line1, .main__sentencje__lines--line5 {
    top: 20px;
  }
  .main__sentencje__lines--line2, .main__sentencje__lines--line3 {
    top: 10px;
  }
  .main__sentencje__lines--line4 {
    top: 30px;
  }
}
.sections {
  position: absolute;
  z-index: 3;
  background-color: rgba(218, 165, 32, 0.9);
  box-shadow: 0 0 3px 5px rgba(210, 180, 140, 0.9);
}
.sections--disabled {
  display: none;
}
.sections--article {
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  overflow-y: scroll;
}
.sections--menu {
  top: 20px;
  left: 20px;
  width: 310px;
  padding-top: 50px;
}
.sections__buttonClose {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 24px;
  height: 24px;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: aliceblue;
}
.sections__buttonClose:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.sections__buttonClose .material-symbols-outlined {
  display: block;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
}
.sections__buttonMenu {
  text-align: center;
  position: relative;
  display: block;
  width: 90%;
  left: 5%;
  height: 52px;
  margin-bottom: 15px;
  background-color: rgba(92, 92, 92, 0.9);
  box-shadow: 0 0 3px 5px rgba(69, 69, 69, 0.9);
  color: rgb(192, 192, 192);
  line-height: 50px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s;
}
.sections__buttonMenu:hover {
  background-color: rgba(42, 42, 42, 0.9);
  box-shadow: 0 0 3px 5px rgba(69, 69, 69, 0.9);
  color: rgb(222, 222, 222);
}/*# sourceMappingURL=style.css.map */